
.button {
    text-align: right;
    margin-top: -20px;
}

.copyright {
 color: grey;
 margin-top: -170px;
}

.contact{
    text-align: center;
    margin-bottom: 200px;
}
.logo {
    margin-top: -40;
    padding: auto; /*we dont have auto value for padding*/
    height: 10%;
    width: 30%;
    background-color: black;
   }
   
   .location {
   background-image: url("images/img-locations-background.webp");
   color: grey;
   opacity: 1;  
   border: solid;
   text-align: center; 
   }

.tea {
    width: 300px;
    height: 170px;
    margin: 5px;
}

.layout {
    background-color: black;
    color: gray;
}