.body {
    border: 50px solid black;
    background-color: black;
    text-align: center;
}

.button {
    text-align: right;
    margin-top: -20px;
}

.logo {
 margin: auto;
 padding: auto; /*we dont have auto value for padding*/
 height: 20%;
    background-color: #f17979;
}

.copyright {
    text-align: left;
}

.contact {
    text-align: center;
    padding-bottom: 200px;
}

.h2 {
    text-align: justify ;
}

.h4 {
    text-align: center;
}

.location {
background-image: url(img-locations-background.webp);

}

.tea {
    width: 300px;
    height: 170px;
    margin: 5px;
}
